.banner{
    background-image: url(../../assets/img/background-monkey.jpg);
    height: 790px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    border-bottom:10px solid #000;
    padding: 106px;
    left: 91px;
}
.wrapper-banner{
    display: flex;
    flex-direction: column;
    width: 630px;
}

.banner .box-banner{
    margin-bottom: 38px;
}

.banner .navigation{
    display: flex;
    justify-content: space-around;
}