/*butao do header*/
#button{
    display: inline-block;
    text-align: center;
    background-color: #fff;
    color: #000;
    /* padding para ser uma "extensão" do conteúdo*/
    padding: 15px 19px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0px;
    transition: transform .4s;
}
#button:hover{
    transform: scale(1.03);
}

#button::after{
    content: "";
    position: absolute;
    background-color: #8282823f;

    transition: width .5s ease-in;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
}
/*butao do nomezao lá */
button{
    color: #000;
    margin-right:112px ;
    background-color: #fff;
    border: 0;
    box-shadow: 4px 4px 0px #000;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    width: 170px;
    height: 60px;
    transition: transform .4s;
}
button:hover{
    transform: scale(1.03);
}