.skill{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 25px;
    margin-bottom: 38px;
}
.skill .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.icon{
    margin-right: 25px;
    max-width: 90px;
}
.title-skill{
    font-size: 25px;
}