.project{
    flex-wrap: wrap;
    background-color: #000;
    height: 520px;
}
.title-project{
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}
.icon-project{
    height:280px;
    width:280px;
    margin-top: 99px;
    box-shadow: 10px 10px 0px #FFF;
    transition: transform 0.4s;
}
.icon-project:hover{
    transform: scale(1.04);
}